.main {
}

.listContainer {
  position: relative;
  padding: 0px 20px;
}

.listHeader {
  padding-top: 300px;
  width: 100%;
  padding-bottom: 20px;
}

.searchContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.searchInput {
  width: 80%;
  border: 0px solid transparent;
  border-bottom: 1px solid #3498db;
  padding: 5px;
}

.searchInput:focus {
  outline: none;
}

.searchBtn {
  border: 0px solid transparent;
  background-color: #3498db;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  word-break: keep-all;
  width: 60px;
}

.listResult {
  height: calc(100vh - 385.5px);
  overflow-y: scroll;
}

.listBookCover {
  cursor: pointer;
  aspect-ratio: 6/7;
  height: 100px;
  position: relative;
}

.singleList {
  display: flex;
}

.detailContainer {
  position: fixed;
  max-height: 300px;
  z-index: 10;
  overflow: scroll;
  background-color: #fff;
  width: 100%;
  padding: 20px;
}

.nullContainer {
  margin-top: 10px;
  color: #9f9f9f;
}

.bookContainer {
  display: flex;
}

.bookCover {
  aspect-ratio: 6/7;
  height: 220px;
  position: relative;
}

.bookDesc {
  max-height: 100px;
  overflow-y: scroll;
}

.title {
  cursor: pointer;
}

.subtitle {
  margin-bottom: 6px;
}

.bookLink {
  cursor: pointer;
  font-size: 0.7rem;
  color: #3498db;
}
